
.logo {
    width: 200px;
    height: 200px;
    border-radius: 0.5em;
    margin: 10px;
}

.logo-section {
    display: flex;
    flex-basis: 200px;
    flex-wrap: wrap;
    justify-content: center;
}