
.logo {
    width: 200px;
    height: 200px;
    border-radius: 0.5em;
    margin: 10px;
}

.logo-section {
    display: flex;
    flex-basis: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.input-form {
    font-family: 'Lora', serif;
    margin-bottom: 10px;
}

#submit-button {
    cursor: pointer;
    border-color: var(--contrast-color);
    border-width: 1px;
    border-style: solid;
    color: var(--contrast-color);
    background-color: white;
    font-size: 1em;
    border-radius: 0.2em;
    font-family: 'Abril Fatface', cursive;
    box-shadow: 2px 3px darkslategray;
}