
.footer {
    border-top: 3px solid var(--contrast-color);
    flex-basis: 5vh;
    display: flex;
    margin-top: auto;
    color: var(--contrast-color);
    font-family: 'Lora', serif;
    align-items: center;
    justify-content: center;
}

.footer > p {
    text-align: center;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
