* {
    --contrast-color: #121f1f;
    --gradient-light: #b4ecb4;
    --gradient-dark: #2aab2a;
    --contrast-color-2: #8CB92B;
}

body {
    margin: 0px;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.title-splash {
    background-image: linear-gradient(45deg, var(--gradient-light), var(--gradient-dark));
    flex-basis: calc(85vh - 6px);
    display: flex;
}

.title-box {
    margin-left: 30vh;
    margin-top: 20vh;
    flex: 2;
}

.title-box > h1 {
    font-family: 'Abril Fatface', cursive;
    text-shadow: 1em;
    font-size: 3em;
    margin-bottom: 0px;
}

.title-image {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-image > img {
    width: 300px;
    height: 300px;
}
