.navbar {
    flex-basis: 10vh;
    width: auto;
    border-bottom: 3px solid var(--contrast-color);
    font-family: 'Lora', serif;
}

.nav-elements {
    margin-left: 30vh;
    margin-right: 30vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-elements > a {
    color: black;
    font-weight: 2em;
    text-decoration: none;
}

#nav-selected {
    font-style: italic;
}