.navbar {
    flex-basis: 10vh;
    width: auto;
    border-bottom: 3px solid var(--contrast-color);
    font-family: 'Lora', serif;
}

.nav-elements {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-elements > a {
    color: black;
    font-weight: 2em;
    text-decoration: none;
}

#nav-selected {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-basis: 5vh;
    }

    .nav-elements {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .nav-elements > a {
        font-size: 0.5em;
        text-align: center;
    }
}