img {
    width: 900px;
    height: 400px;
    border-radius: 0.5em;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    img {
        width: calc(100% - 20px);
        height: auto;
    }
}