.image-bar {
    display: flex;
    justify-content: center;
}

.image-bar > img {
    width: 200px;
    height: 200px;
    border-radius: 0.5em;
    margin: 10px;
}

.page-body {
    display: flex;
    flex-direction: column;
}